100 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/bootsec.bin"
101 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/hdboot.bin"
103 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-kernel/bios/loader/gptboot.bin"
104 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-efi/x64/bootx64.efi"
105 RCDATA LOADONCALL MOVEABLE DISCARDABLE "/rdos-efi/loader/x64/boot64.bin"
